
@using DepartmanProjesi.Models;
@model List<Personel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<table class="table table-bordered">
    <tr>
        <th>Personel ID</th>
        <th>Personel Adı</th>
        <th>Personel Soyadı</th>
        <th>Personel Şehri</th>
        <th>Çalıştığı Departman</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detay</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.PersonelID</td>
            <td>@x.PersonelAd</td>
            <td>@x.PersonelSoyad</td>
            <td>@x.PersonelSehir</td>
            <td>@x.depart</td>
            <td><a href="#"class="btn btn-danger">Sil</a></td>
            <td><a href="#"class="btn btn-primary">Güncelle</a></td>
            <td><a href="#"class="btn btn-secondary">Detay</a></td>
        </tr>
    }
</table>
<a href="#"class="btn btn-success">Personel Ekle</a>